@charset "utf-8";
// If need, change your variables before importing Bulma

$black-bis: #2D3748;
$black-ter: #4A5568;
$grey-darker:#718096;
$grey-dark:#A0AEC0;
$grey-light:#CBD5E0;
$grey-lighter:#E2E8F0;
$white-ter: #EDF2F7;
$white-bis:	#F7FAFC;

$primary: #48BB78;
$link:	#319795;
$info:	#7F9CF5;
$success: #68D391;
$warning: #F6AD55;
$danger: #FC8181;

$text: $black-ter;
$gap: 128px;
// $title-line-height: 1rem;
@import "~bulma/bulma.sass";

body {
    background-color: $white-bis;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrap-item {
    flex-shrink: 0;
    border-radius: 50%;
    margin: 2px;
}

.main {
    margin-top: $navbar-height;
    padding-top: 1rem;
}
.border {
    border: 1px solid $grey-lighter;
}
.header {
    border-bottom: 2px solid $grey-darker;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.toc {
    background-color:$white;
    ul {
        li {
            padding-left: 1rem;
        }
    }
}

.flex-space-between{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
}

.stickyRight {
    position: sticky;
    top: $navbar-height + 1rem;
    right: 10px;
    z-index: 10;
}

.topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bottom-line {
    border-bottom: 1px solid $grey-lighter;
}

.action {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.inline {
    display: inline;
}